<div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; max-width: 600px; margin: auto; border: 1px solid #eee; padding: 20px; border-top: 10px solid #EE9972;">
    <h2 style="color: #495E57; text-align: center;">Little Lemon</h2>
    <p>Hi <strong>{{ full_name }}</strong>,</p>
    <p>This email is to confirm that your reservation for <strong>{{ date }}</strong> at <strong>{{ slot }}</strong> has been <strong>cancelled</strong>.</p>
    
    <p>We're sorry we won't see you this time, but we hope to welcome you back to Little Lemon soon!</p>
    
    <a href="https://little-lemon-api-bdsl.onrender.com" style="display: inline-block; padding: 10px 20px; background-color: #495E57; color: white; text-decoration: none; border-radius: 5px;">Book another table</a>
</div>